<div class="h-screen flex flex-row bg-slate-700 z-0">
    <div
        class="flex flex-col h-full rounded-r-3xl overflow-hidden bg-gray-600 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-50"
    >
        <div class="flex items-center justify-center h-20 shadow-md">
            <img
                src="https://png.pngtree.com/png-clipart/20220621/original/pngtree-coffee-shop-logo-png-image_8152451.png"
                alt="Logo Image"
                class="w-16 h-16 rounded-full"
            />
        </div>
        <ul class="flex flex-col py-4 z-0">
            <li>
                <a
                    href="#"
                    class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
                >
                    <span
                        class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
                        ><i class="bx bx-home"></i
                    ></span>
                    <span class="text-sm font-medium z-0">Dashboard</span>
                </a>
            </li>
            <li>
                <a
                    href="#"
                    class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
                >
                    <span
                        class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
                        ><i class="bx bx-music"></i
                    ></span>
                    <span class="text-sm font-medium z-0">Music</span>
                </a>
            </li>
            <li>
                <a
                    href="#"
                    class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
                >
                    <span
                        class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
                        ><i class="bx bx-drink"></i
                    ></span>
                    <span class="text-sm font-medium z-0">Drink</span>
                </a>
            </li>
            <li>
                <a
                    href="#"
                    class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
                >
                    <span
                        class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
                        ><i class="bx bx-shopping-bag"></i
                    ></span>
                    <span class="text-sm font-medium z-0">Shopping</span>
                </a>
            </li>
            <li>
                <a
                    href="#"
                    class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
                >
                    <span
                        class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
                        ><i class="bx bx-chat"></i
                    ></span>
                    <span class="text-sm font-medium z-0">Chat</span>
                </a>
            </li>
            <li>
                <a
                    href="#"
                    class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
                >
                    <span
                        class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
                        ><i class="bx bx-user"></i
                    ></span>
                    <span class="text-sm font-medium z-0">Profile</span>
                </a>
            </li>
            <li>
                <a
                    href="#"
                    class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
                >
                    <span
                        class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
                        ><i class="bx bx-bell"></i
                    ></span>
                    <span class="text-sm font-medium z-0">Notifications</span>
                    <span
                        class="ml-auto mr-6 text-sm bg-red-100 rounded-full px-3 py-px text-red-500"
                        >5</span
                    >
                </a>
            </li>
            <li>
                <a
                    href="#"
                    class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
                >
                    <span
                        class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
                        ><i class="bx bx-log-out"></i
                    ></span>
                    <span class="text-sm font-medium z-0">welcom</span>
                </a>
            </li>
        </ul>
    </div>
</div>
