{% extends "base/base.html" %}

{% block title %}
    <title>Your Cart</title>
{% endblock %}

{% block cart %}
    <div class="max-w-2xl mx-auto bg-white shadow-md rounded-lg overflow-hidden mt-4 mb-4">
        <!-- Header -->
        <div class="bg-gray-800 text-white p-4">
            <div class="flex justify-between items-center mb-2">
                <span class="text-lg font-bold">{{ order.user.get_full_name }}</span>
                <span class="text-gray-300 text-sm">Cafe Maktab</span>
            </div>
            <div>
                <p class="text-gray-300 text-sm">Invoice number: {{ order.factor_code }}</p>
                <p class="text-gray-300 text-sm">Paid time: {{ order.paid_time|date:"F d, Y H:i" }}</p>
            </div>
        </div>

        <!-- Table -->
        <div class="p-4">
            <table class="w-full border border-gray-200">
                <thead>
                    <tr class="text-gray-500 font-bold">
                        <th class="p-2 text-center">Product Name</th>
                        <th class="p-2 text-center">Price/Unit</th>
                        <th class="p-2 text-center">Quantity</th>
                        <th class="p-2 text-center">Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.order_items.all %}
                    <tr>
                        <td class="p-2 text-center">{{ item.product.name }}</td>
                        <td class="p-2 text-center">{{ item.product.price }}</td>
                        <td class="p-2 text-center">{{ item.quantity }}</td>
                        <td class="p-2 text-center">{{ item.total_price_item }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3" class="p-2 text-right font-bold">Total Price:</td>
                        <td class="p-2 text-right font-bold pr-16">{{ order.total_price }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
