{% extends "base/base.html" %} 
{% block title %}
    <title>Your Cart</title>
{% endblock %} 
{% block cart %}
    <div class="max-w-2xl mx-auto shadow-md rounded-lg overflow-hidden mt-4 mb-4">
        <div class="bg-gray-800 flex justify-between text-white p-4 text-lg font-bold ">
            <span>{{order.user.get_full_name}}</span>  
            <span class="text-gray-300">Cafe Maktab </span>
        </div>
        <div class="p-4">
            <form method="post">
                {% csrf_token %}
                <table class="w-full border border-gray-200">
                    <thead>
                        <tr class="text-gray-500 font-bold">
                            <th class="p-2 text-center">Product Name</th>  
                            <th class="p-2 text-center">Price/Unit</th>
                            <th class=" text-center pl-9">Quantity</th>
                            <th class="p-2 text-center">Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order.order_items.all %}
                            <tr>
                                <td class="p-2 text-center">{{ item.product.name }}</td>
                                <td class="p-2 text-center">{{ item.product.price }}</td>
                                <td class="p-2 text-center flex items-center justify-center">
                                    <button type="submit" name="deleteItem_{{ item.id }}" class="hover:bg-gray-300 text-gray-800 font-bold py-1 px-2 mr-1 rounded-l">
                                        🗑️
                                    </button>
                                    <button type="submit" name="decreaseQuantity_{{ item.id }}" class="bg-gray-200 border hover:bg-gray-300 text-gray-800 font-bold py-1 px-3 rounded-l">
                                        -
                                    </button>
                                    <span class="px-4">{{ item.quantity }}</span>
                                    <button type="submit" name="increaseQuantity_{{ item.id }}" class="bg-gray-200 border hover:bg-gray-300 text-gray-800 font-bold py-1 px-3 rounded-r">
                                        +
                                    </button>
                                </td>
                                <td class="p-2 text-center">{{ item.total_price_item }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3" class="p-2 text-right font-bold">Total Price:</td>
                            <td class="text-right font-bold pr-8">{{ order.total_price }}</td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="flex justify-end p-4">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" id="clearCart" name="clearCart" class="bg-yellow-500 text-white px-4 py-2 rounded shadow-sm hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-400 mr-3">
                        Clear
                    </button>
                    <button type="submit" id="payNow" name="payNow" class="bg-blue-500 text-white px-4 py-2 rounded shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-400">
                        Pay Now
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
